.totalString {
    color: white;
    font-family: "Lucida Console", monospace;
    text-align: right;
    margin: auto;
    padding: 5px 6px 3px;
}

.display-text {
    font-size: 20px;
    font-family: "Lucida Console", monospace;
    color: white;
    text-align: right;
    padding: 0px 10px;
}

.totaldisplay {
    display: inline-block;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
    background: black;
}

.itemdisplay {
    display: inline-block;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    background: black;
}

.itemac {
    display: inline-block;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    background: crimson;
}

.itemdivide {
    display: inline-block;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    background: darkgray;
}

.itemtimes {
    display: inline-block;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    background: darkgray;
}

.itemminus {
    display: inline-block;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
    background: darkgray;
}

.itemplus {
    display: inline-block;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
    background: darkgray;
}

.itemequals {
    display: inline-block;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 8;
    background: darkslateblue;
}

.item1 {
    display: inline-block;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
    background: slategray;
}

.item2 {
    display: inline-block;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
    background: slategray;
}

.item3 {
    display: inline-block;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 7;
    background: slategray;
}

.item4 {
    display: inline-block;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
    background: slategray;
}

.item5 {
    display: inline-block;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    background: slategray;
}

.item6 {
    display: inline-block;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
    background: slategray;
}

.item7 {
    display: inline-block;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    background: slategray;
}

.item8 {
    display: inline-block;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    background: slategray;
}

.item9 {
    display: inline-block;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    background: slategray;
}

.item0 {
    display: inline-block;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 8;
    background: slategray;
}

.itemdot {
    display: inline-block;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 8;
    background: slategray;
}

.buttonpadding {
    padding: 25px 35px 25px 35px;
}