.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    background-color: seashell;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 7px 20px rosybrown;
    margin: 10px;
}

#box2 {
    width: 700px;
    margin: auto;
    overflow: auto;
    background-color: seashell;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 7px 20px rosybrown;
    margin: 10px;
}

#preview {
    word-wrap: break-word;
}

#author {
    align: right;
    font-size: 10px;
    text-align: right;
}

#parent {
    width: 640px;
    margin: auto;
    display: grid;
    place-items: center;
}

.row {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#text-box {
    display: block;
    text-align: center;
}

.center-align {
    margin-left: auto;
    margin-right: auto;
}

.drum-pad {
    background-color: rosybrown;
    border: none;
    color: white;
    padding: 30px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 1px 2px 5px rosybrown;
}

#editor {
    resize: vertical;
    width: 500px;
}
