:root {
    --dark-color: #212529;
    --dark2-color: #213242;
    --medium-color: #5E6A75;
    --light-color: #3B5875;
    --light2-color: #9BAEC2;
    --text-color: #f8f9ff;
    font-size: 16px;
}

* {
    color: var(--text-color);
    font-family: verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--dark-color);
    display: grid;
    place-items: center;
}

@media only screen and (max-width: 720px) {
    body {
        font-size: 62.5%;
    }

    #about-me img {
        width: 100px;
    }
}

@media only screen and (min-width: 720px) {
    body {
        font-size: 1rem;
    }
    
    #about-me img {
        width: 250px;
    }
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--light2-color);
}

.navbar {
    position: fixed;
    overflow: hidden;
    width: 100%;
    top: 0.5rem;
    text-align: right;
    right: 1rem;
}

nav a {
    margin: 0.5rem;
}

#welcome-section {
    height: auto;
    padding: 1rem;
}

#about-me {
    height: auto;
    padding: 1rem;
}

.about-me-sub {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-me-div {
    margin: 1rem;
}

.about-me-div:nth-of-type(2) {
    display: grid;
}

.about-me-div:nth-of-type(2) a {
    margin: 1rem;
}

#about-me img {
    border-radius: 50%;
}

#projects {
    height: auto;
    display: inline-block;
}

#coding-challenges {
    height: 100vh;
    padding: 1rem;
}

.center {
    text-align: center;
}




.grid-container {
    display: grid;
    gap: 1px 1px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
