:root {
    --dark-color: #212529;
    --dark2-color: #213242;
    --medium-color: #5E6A75;
    --light-color: #3B5875;
    --light2-color: #9BAEC2;
    --text-color: #f8f9ff;
}

#markdown-box1 {
    width: 507px;
    margin: auto;
    overflow: auto;
    background-color: var(--medium-color);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 7px 20px black;
    margin: 10px;
}

h1#markdown-box1 {
    font-size: 20px;
}

#markdown-box2 {
    width: 700px;
    margin: auto;
    overflow: auto;
    background-color: var(--medium-color);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 7px 20px black;
    margin: 10px;
}

#markdown-preview {
  text-align: left;
  word-wrap: break-word;
}

#markdown-parent {
    width: 640px;
    margin: auto;
    place-items: center;
    background-color: var(--medium-color);
}
.markdown-row {
  display: grid;
  grid-template-columns: auto auto;
  margin-left: auto;
  margin-right: auto;
}

.markdown-center-align {
  margin-left: auto;
  margin-right: auto;
}

#markdown-editor {
  resize: vertical;
  width: 500px;
  color: black;
}
