#break-label {
    grid-area: 1 / 1 / span 1 / span 3;
    margin: auto 4px auto 4px;
}

#session-label {
    grid-area: 1 / 4 / span 1 / span 3;
    margin: auto 4px auto 4px;
}

#session-increment {
    grid-area: 2 / 6 / span 1 / span 1;
    margin: auto 4px auto 4px;
    background-color: white;
    color: black;
    border-radius: 15px;
    box-shadow: 1px 2px 5px;
}

#session-decrement {
    grid-area: 2 / 4 / span 1 / span 1;
    margin: auto 4px auto 4px;
    background-color: white;
    color: black;
    border-radius: 15px;
    box-shadow: 1px 2px 5px;
}

#break-increment {
    grid-area: 2 / 3 / span 1 / span 1;
    margin: auto 4px auto 4px;
    background-color: white;
    color: black;
    border-radius: 15px;
    box-shadow: 1px 2px 5px;
}

#break-decrement {
    grid-area: 2 / 1 / span 1 / span 1;
    margin: auto 4px auto 4px;
    background-color: white;
    color: black;
    border-radius: 15px;
    box-shadow: 1px 2px 5px;
}

#start_stop {
    grid-area: 1 / 1 / span 1 / span 1;
    margin: auto 4px auto 4px;
    background-color: white;
    color: black;
    border-radius: 15px;
    box-shadow: 1px 2px 5px;
    padding: 3px 10px 3px 10px;
}

#reset {
    grid-area: 1 / 2 / span 1 / span 1;
    margin: auto 4px auto 4px;
    background-color: white;
    color: black;
    border-radius: 15px;
    box-shadow: 1px 2px 5px;
    padding: 3px 10px 3px 10px;
}

#break-length {
    grid-area: 2 / 2 / span 1 / span 1;
    margin: auto;
}

#session-length {
    grid-area: 2 / 5 / span 1 / span 1;
    margin: auto;
}

#timer-label {
    grid-area: 3 / 1 / span 1 / span 6;
    margin: auto;
}

#time-left {
    grid-area: 4 / 1 / span 1 / span 6;
    margin: auto;
}

#start-stop-reset {
    grid-area: 5 / 1 / span 1 / span 6;
    margin: auto;
    display: grid;
    grid-template-columns: auto;
    gap: 4px 4px;
}

#buttonimg {
    max-width: auto;
    max-height: 15px;
    margin: auto;
}

.grid-container-timer {
    display: grid;
    gap: 4px 4px;
}