.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    display: grid;
    place-items: center;
    background-color: var(--dark-color);
}

.grid-container {
    display: grid;
    gap: 1px 1px;
    background: black;
}

#break-label {
    grid-area: 1 / 1 / span 1 / span 3;
    margin: auto;
}

#session-label {
    grid-area: 1 / 4 / span 1 / span 3;
    margin: auto;
}

#session-increment {
    grid-area: 2 / 6 / span 1 / span 1;
    margin: auto 5px auto 5px;
}

#session-decrement {
    grid-area: 2 / 4 / span 1 / span 1;
    margin: auto 5px auto 5px;
}

#break-increment {
    grid-area: 2 / 3 / span 1 / span 1;
    margin: auto 5px auto 5px;
}

#break-decrement {
    grid-area: 2 / 1 / span 1 / span 1;
    margin: auto 5px auto 5px;
}

#break-length {
    grid-area: 2 / 2 / span 1 / span 1;
    margin: auto 5px auto 5px;
}

#session-length {
    grid-area: 2 / 5 / span 1 / span 1;
    margin: auto 5px auto 5px;
}

#timer-label {
    grid-area: 3 / 1 / span 1 / span 6;
    margin: auto;
}

#time-left {
    grid-area: 4 / 1 / span 1 / span 6;
    margin: auto;
}

#start-stop-reset {
    grid-area: 5 / 1 / span 1 / span 6;
    margin: auto;
}

.button {
    border: none;
    background-color: rgba(0,0,0,0);
    margin: auto;
    cursor: pointer;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 25px 35px 25px 35px;
    font-size: 20px;
    font-family: Arial;
}

.box {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    background-color: dimgray;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
    margin: 10px;
}
